<script>
    document.cartId = '{{cartId}}'
</script>
<script src="/static/js/cart.js"></script>
<h2>Carrito</h2>
<div id="products">
</div>
<a href="/products">Ver productos</a><br>
<button type='button' id="clearProductsButton">Vaciar carrito</button><br> 
<button type='button' id="purchaseButton">Comprar carrito!</button><br> 