<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>
<h2>Bienvenido al chat</h2>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>