<h3>Ingresá</h3>
<form id="loginForm" style="padding: 1em;">
    <label for="email" style="margin: 1em;">Email</label><br>
    <input type="text" name="email" style="margin: 1em;"><br>
    <label for="password" style="margin: 1em;">Contraseña</label><br>
    <input type="password" name="password" style="margin: 1em;"><br>
    <input type="submit" style="margin: 1em;">
</form>
<br>
<p>No tenés usuario aún?</p>
<button type="button" id="registerButton">Registrate</button>

<script src="/static/js/login.js"></script>
