<script src="/static/js/products.js"></script>
<div id="user"></div>
<h3>Productos</h3>
<div id="products">
</div>
<button type='button' id="prevPageButton">Página Anterior</button> 
<button type='button' id="nextPageButton">Página Siguiente</button> 
<hr>
<a id='cartLink' href="#" disabled>Ver carrito</a><br>
<button type='button' id="logoutButton">Cerrar Sesión</button>