<script>
    document.cartId = '{{cartId}}'
</script>
<script src="/static/js/products.js"></script>
<h2>Productos</h2>
<div id="products">
</div>
<button type='button' id="prevPageLink">Página Anterior</button> 
<button type='button' id="nextPageLink">Página Siguiente</button> 
<hr>
<a href="/carts/{{cartId}}">Ver carrito</a>