<h3>Registrate</h3>
<form id="registerForm" style="padding: 1em;">
    <label for="firstName" style="margin: 1em;">Nombre</label><br>
    <input type="text" name="firstName" style="margin: 1em;"><br>
    <label for="lastName" style="margin: 1em;">Apellido</label><br>
    <input type="text" name="lastName" style="margin: 1em;"><br>
    <label for="email" style="margin: 1em;">Email</label><br>
    <input type="text" name="email" style="margin: 1em;"><br>
    <label for="password" style="margin: 1em;">Contraseña</label><br>
    <input type="password" name="password" style="margin: 1em;"><br>
    <input type="submit" style="margin: 1em;">
</form>
<br>
<p>Ya tenés usuario?</p>
<button type="button" id="registerButton">Ingresá</button>

<script src="/static/js/register.js"></script>
